

<button class="marginAll"
  routerLink="/network-builder-component">Build</button>

<!-- Settings -->
<br><br>
<div *ngFor="let settingId of getAllSettingIds()">
  <tr>&nbsp;{{settingId}}
<input #checkBox
  id="settingId" 
  type="checkbox" 
  [checked]="getStatus(settingId)" 
  (change)="setStatus(settingId,checkBox.checked)" /> 
  </tr>
</div>

<!-- Buttons -->
<br>
<button class="marginAll"
  routerLink="/data-entry-component/model-def">Model Def</button>  
  <button class="marginAll"
  routerLink="/data-entry-component/element-def">Element Def</button>  

<br>
<button class="marginAll"
  routerLink="/data-entry-component/json-model">JSON Model</button>
<button class="marginAll"
  routerLink="/data-entry-component/solver-out">Solver Out</button>


