
.marginAll {
    margin-left: 12px;
}

.textBox {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 50px;
    width: 300px;
    height: 310px;
    overflow: auto;
    border-style: solid;
  }