

<button class="marginAll"
  routerLink="/network-builder-component">Build</button>

<!-- <button class="marginAll"
  routerLink="/network-builder-component">Solve</button> -->
<button class="marginAll"
  routerLink="/network-builder-component">Results</button>

<!-- Settings -->
<br><br>
<div *ngFor="let settingId of getAllSettingIds()">
  <tr>&nbsp;{{settingId}}
<input #checkBox
  id="settingId" 
  type="checkbox" 
  [checked]="getStatus(settingId)" 
  (change)="setStatus(settingId,checkBox.checked)" /> 
  </tr>
</div>

<!--
<br><br>
<button class="marginAll"
  routerLink="/network-builder-component">Save</button>
<button class="marginAll"
  routerLink="/network-builder-component">Load</button>
<button class="marginAll"
  routerLink="/network-builder-component">Settings</button>
-->

<br><br>
<button class="marginAll"
  routerLink="/data-entry-component/model-def">Model Def</button>  
  <button class="marginAll"
  routerLink="/data-entry-component/element-def">Element Def</button>  

<!-- JSON model -->
<div class="textBox marginAll" >
    <!-- <ng-container *ngFor="let shape of shapes">
        {{shape.elementId}}<br>
    </ng-container> -->

    {{solverJsonInput}}
</div>

<!-- Reults from SCALA -->
<pre class="textBox marginAll">
  <!-- <ng-container *ngFor="let shape of shapes">
      {{shape.elementId}}<br>
  </ng-container> -->
  {{solverResultString}}
</pre>
