<div class="header">

  <!-- Top Buttons -->
  <button *ngIf="!solveInProgress()" [disabled]="!haveModel()" (click)="solveModel()">Solve</button>
  <button *ngIf="solveInProgress()" [disabled]=true>Solving</button>
    <!-- routerLink="/main-component">Solve</button> -->
  &nbsp;  
  <!-- <span *ngIf="solveInProgress()">{{timeLeft}}</span> -->
  <!-- Need a check to prevent adding undefined to the route -->
  <button *ngIf="selectedShape"routerLink="/data-entry-component/{{selectedShape.elementId}}">Data</button> 
  <button *ngIf="!selectedShape" [disabled]=true>Data</button>     

  <button 
    [disabled]="!selectedShape" 
    (click)="deleteSelectedShape()">Delete</button>

  <!-- Name of Selected Shape -->
  <span *ngIf="(selectedShape)">
    {{selectedShape.elementId}}@{{selectedShape.connId1}} {{selectedShape.connId2}}
  </span>
    
</div>


<!-- The <div> is so that builder and data entry line up -->
<!-- <div class="shapeCanvas"> -->
<!-- Shape canvas is repeated so that svg fills <p> -->
<svg id="canvas" class="shapeCanvas"
  (mousedown)="startDrawingMouse($event)" 
  (mousemove)="keepDrawingMouse($event)"
  (mouseup)="stopDrawingMouse()"
  (touchstart)="startDrawingTouch($event)" 
  (touchmove)="keepDrawingTouch($event)"
  (touchend)="stopDrawingTouch()"  
  >

  <ng-container *ngFor="let shape of shapesToDraw">

    <!--Branch or Bus-->
    <svg *ngIf="
      shape.elementType=='bus' 
    || shape.elementType=='branch' 
    || shape.elementType=='island'
    || shape.elementType=='mathModel'
    " >

      <!-- Bus or branch-->
       <!-- <svg *ngIf="shape.elementTypeId=='bus'"> -->

        <!-- [attr.x]="shape.xOuter" [attr.y]="shape.yOuter" -->
        <!-- [ngStyle]="{'transform': 'rotate(45deg) translateX(0px) translateY(0px)'}"  -->

        <!-- Selected -->
        <svg *ngIf="shape==(selectedShape)"   class="selected"
        [attr.height]="shape.hOuter" [attr.width]="shape.wOuter"
        [attr.x]="shape.xOuter" [attr.y]="shape.yOuter"
        > 
          <rect [attr.stroke-width]="1" 
            [attr.width]="shape.wOuter" [attr.height]="shape.hOuter"/>
        </svg>

        <!-- TEXT Results -->
          <!-- Bus Text -->      
          <svg *ngIf="shape.elementType=='bus'">
            <!-- Text 1 -->
            <text 
            [attr.x]="shape.xInner + shape.wInner/2 - 6" 
            [attr.y]="shape.yInner + 2 * shape.hInner" 
            [attr.width]="shape.wOuter"
            [attr.height]="10"
            fill="red">{{shape.text1}}</text>
          <!-- Text 2 -->
            <text 
            [attr.x]="shape.xInner + shape.wInner/2 - 6" 
            [attr.y]="shape.yInner + 2 * shape.hInner + 15" 
            [attr.width]="shape.wOuter"
            [attr.height]="10"
            fill="red">{{shape.text2}}</text>
          </svg>            
          
          <!-- Branch Text -->
          <!-- [attr.x]="shape.xInner  - shape.wOuter + 6"  -->
          <!-- high side to allow for gen/load text -->
          <!-- [attr.y]="shape.yInner + shape.hInner/2 + 16" -->
          <svg *ngIf="shape.elementType=='branch'">
            <text 
            [attr.x]="shape.xInner + shape.wInner + 4" 
            [attr.y]="shape.yInner + shape.hInner/2 - 19 - 15 - 2"
            [attr.width]="shape.wOuter"
            [attr.height]="15"
            >{{shape.text1}}</text>
            <text 
            [attr.x]="shape.xInner + shape.wInner + 4" 
            [attr.y]="shape.yInner + shape.hInner/2 - 19"
            [attr.width]="shape.wOuter"
            [attr.height]="15"
            >{{shape.text2}}</text>
          </svg> 

          <!-- Island Text and MathModel-->
          <svg *ngIf="shape.elementType=='island' || shape.elementType=='mathModel'">
              <!-- Text 1 -->
              <text 
              [attr.x]="shape.xInner + shape.wInner + 4" 
              [attr.y]="shape.yInner + shape.hInner/5"
              [attr.width]="shape.wOuter"
              [attr.height]="10">
              {{shape.text1}}</text>
            <!-- Text 2 -->
            <text 
            [attr.x]="shape.xInner + shape.wInner +4" 
            [attr.y]="shape.yInner + shape.hInner/5 + 15"
            [attr.width]="shape.wOuter"
            [attr.height]="10">
            {{shape.text2}}</text>  
            <!-- Text 3 -->
            <text 
            [attr.x]="shape.xInner + shape.wInner +4" 
            [attr.y]="shape.yInner + shape.hInner/5 + 15 + 15"
            [attr.width]="shape.wOuter"
            [attr.height]="10">
            {{shape.text3}}</text>
            <!-- Text 4 -->
            <text 
            [style.fill]="(shape.elementType=='island' ? 'red' : '')"
            [attr.x]="shape.xInner + shape.wInner +4" 
            [attr.y]="shape.yInner + shape.hInner/5 + 15 + 15 + 15"
            [attr.width]="shape.wOuter"
            [attr.height]="10">
            {{shape.text4}}</text>                               

            <!-- Island Title -->
            <text id="island"
            [style.fill]="'gray'"
            [attr.x]="shape.xInner + 6" 
            [attr.y]="shape.yInner + (3/4) * shape.hInner"
            [attr.width]="shape.wInner"
            [attr.height]="shape.Inner">
            {{textForShape(shape.elementType)}}</text>
          </svg> 
        
          <!-- Bus, Branch, Island... Inner -->
          <rect class="shape"
          
          id="{{shape.elementId}}" 
          [attr.x]="shape.xInner" 
          [attr.y]="shape.yInner" 
          [attr.width]="shape.wInner"
          [attr.height]="shape.hInner"

          [attr.rx]="shape.elementType=='bus'?8:2" 

          [style.fill]="(shape.elementType=='island' || shape.elementType=='mathModel') ? 'none' : 'black'"
          /> 
          <!-- stroke="black"
          fill="none" -->

          <!--Branch arrows-->   
          <!-- Direction is from text2... 0=none,1=Pos,2=Neg -->
          <svg *ngIf="shape.elementType=='branch'" class="path" 
          [attr.x]="shape.xOuter" 
          [attr.y]="shape.yOuter + shape.hOuter/2 - 15.0" 
          [attr.width]="shape.wOuter"
          [attr.height]="60">
          <svg *ngIf="shape.text3=='1'"><path [attr.d] = "shape.path1"/></svg>
          <svg *ngIf="shape.text3=='2'"><path [attr.d] = "shape.path2"/></svg>
          </svg>

    </svg>

    <!--Gen or Load-->
    <svg class="path" 
    *ngIf="shape.elementType=='gen' || shape.elementType=='load'"
    >

      <!--Selected-->
      <svg *ngIf="shape==(selectedShape)" class="selected" 
      [attr.height]="shape.hOuter" [attr.width]="shape.wOuter"
      [attr.x]="shape.xOuter" [attr.y]="shape.yOuter"> 
        <rect [attr.width]="shape.wOuter" [attr.height]="shape.hOuter"/>
      </svg>

      <!--Gen-->
      <svg *ngIf="shape.elementType=='gen'"
        [attr.height]="shape.hInner" [attr.width]="shape.wInner"
        [attr.x]="shape.xInner" [attr.y]="shape.yInner"  
        id="{{shape.elementId}}"              
        > 
      
        <!--Circle: For a stroke width of 3-->
        <circle [attr.cx]="shape.wInner/2" [attr.cy]="shape.wInner/2" [attr.r]="shape.wInner/2 - 3/2"/>
        <line [attr.x1]="shape.wInner/2" [attr.y1]="shape.wInner - 3"
              [attr.x2]="shape.wInner/2" [attr.y2]="shape.hInner"/>
        <!--Sine-->      
        <path [attr.d]="shape.path1"/>
        <path [attr.d]="shape.path2"/>
      </svg>  
      <!--Load arrows-->
      <svg *ngIf="shape.elementType=='load'"
        [attr.height]="shape.hInner" [attr.width]="shape.wInner"
        [attr.x]="shape.xInner" [attr.y]="shape.yInner"
        id="{{shape.elementId}}">
        <path [attr.d]="shape.path1"/>
      </svg>


      <!-- TEXT Results Gen Load-->
      <!-- Text 3 -->
      <svg>
        <text 
        [ngClass]="{'color-red': shape.elementType=='gen'}"
        [attr.x]="shape.xOuter" 
        [attr.y]="shape.yInner - 3 - 30" 
        [attr.width]="shape.wOuter"
        [attr.height]="20">
        {{shape.text3}}</text>
      </svg>      
      <!-- Text 2 -->
      <!-- "{'color-black': shape.elementType=='gen', 'color-black': shape.elementType=='load'}" -->
      <!-- ng-class='color-red' -->
      <svg>
            <text 
            [ngClass]="{'color-red': shape.elementType=='load'}"
            [attr.x]="shape.xOuter" 
            [attr.y]="shape.yInner - 3 - 15" 
            [attr.width]="shape.wOuter"
            [attr.height]="20">
            {{shape.text2}}</text>
      </svg>
      <!-- Text 1 -->
      <svg>
        <text 
        [attr.x]="shape.xOuter" 
        [attr.y]="shape.yInner - 3" 
        [attr.width]="shape.wOuter"
        [attr.height]="20"
        fill="red">{{shape.text1}}</text>
      </svg> 
      
      
    </svg>


     <!-- Info -->
      <!-- <foreignObject x="5" y="10" width="100%" height="100"> 
          
        <xhtml:button routerLink="/data-entry-component">
          <i class="material-icons" style="font-size:18px;color:black">
            mode_edit</i>
        </xhtml:button>
      </foreignObject> -->
<!-- 
     <svg 
      [attr.x]="6" [attr.y]="6" [attr.width]=infoWidth 
      [attr.height]=infoWidth class="svgButton"
      (click)="dataRoute()"
      > -->
<!-- 
       <rect       
       [attr.x]="1" [attr.y]="1"
       [attr.width]=infoWidth-2 [attr.height]=infoWidth-2
       [attr.rx]="6"/> 
       <circle 
       [attr.cx]="0.6*infoWidth" [attr.cy]="0.4*infoWidth" 
         [attr.r]="0.22*infoWidth"/>
       <line [attr.x1]="0.6*infoWidth-0.707*(0.22*infoWidth)" 
       [attr.y1]="0.4*infoWidth+0.707*(0.22*infoWidth)"
         [attr.x2]="0.25*infoWidth" [attr.y2]="0.8*infoWidth"/> -->
  
     <!-- </svg>  -->
           <!-- <foreignObject x="10" y="20" width="100%" height="100"> 
          
          <xhtml:button routerLink="/data-entry-component">
            <i class="material-icons" style="font-size:18px;color:black">
              mode_edit</i>
          </xhtml:button>

          <xhtml:button (click)="addElement('bus')">
            <i class="material-icons" style="font-size:18px;color:black">
              mode_delete_forever</i> 
          </xhtml:button>
        </foreignObject> -->

     

    <!-- selected ID -->
    <!-- <svg *ngIf="selectedShape" height="100" width="400" class="noSelect">
      <text x="134" y="23">{{selectedShape.elementId}}@{{selectedShape.busId1}} {{selectedShape.busId2}}</text>
    </svg>
   -->
  </ng-container>

 
  <!-- <rect id="fill-1"
  [attr.x]="200" 
  [attr.y]="400" 
  [attr.width]="30"
  [attr.height]="15"
  [attr.rx]="6"
  (click)="addElement('bus')" /> 

  <svg>
    <a routerLink="/data-entry-component/{{selectedId}}">
  <rect
  [attr.x]="250" 
  [attr.y]="400" 
  [attr.width]="30"
  [attr.height]="15"
  [attr.rx]="6"/>
  </a>/>
  </svg>   -->

</svg>
<!-- <section>{{getCanvasSize()}}</section> -->

<!-- </div> -->

<!-- Selected Id -->
<!-- <section style="text-align:right;">
  <div  *ngIf="selectedId; else elseBlock">{{selectedId}}</div>
  <ng-template #elseBlock>no selection</ng-template>
</section> -->



<!-- Button area -->
<div class="footer">
  
  <button (click)="addElement('bus')">Bus</button>
  <button (click)="addElement('branch')">Br</button>
  <button (click)="addElement('gen')">Gen</button>
  <button (click)="addElement('load')">Ld</button>
  &nbsp;
  <button routerLink="/main-component">Main</button>  

</div>

