
svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  stroke-width:1;
  stroke:none;
}


input {
  position: relative;
  top: 1px;
}

#island{
  font-size: 40px;
  /* font-family: "Helvetica"; */
  font-family: "Courier";  
  font-style: italic;
  /* white-space: pre; */
}

  
  .svgButton{
    fill:none;
    stroke:black;
    stroke-width:1;
    fill: #e7e7e7;
    margin: 0px;
  }
  .svgButton:hover{
    fill: #ddd;
  }

  .selected{
    fill:none;
    stroke:black;
    stroke-width:2;
    margin: 0px;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

   .shape{
     fill-opacity:1;
     stroke:black;
     fill:black;
     stroke-width:2;
     margin: 0px;
  }
  
  .path{
    stroke-width:3;
    stroke:black;
    fill:none;
    margin: 0px;
  }

  .rotate {
    transform: rotate(0,0,45deg);
  }

  text {
    fill: blue;
  }

  .color-black {
    fill: black;
  }
  
  .color-red {
    fill: red;
  }

  .color-gray {
    fill: gray;
  }