
 <!-- *ngIf="{{dataLink}}" -->

 <!-- https://stackoverflow.com/questions/40214655/angular-2-checkbox-two-way-data-binding -->
 <div *ngIf="doConstraintDefs">
  <button routerLink="/network-builder-component">Back</button>
  <table table-layout="fixed">
      <tr>&nbsp;</tr>
      <tr><th>Constraint Details/Include</th></tr>
      <tr *ngFor="let formName of formNames; index as i">
        <td><button (click)="reload(formName)">{{formName}}</button>
          <input #saveUserNameCheckBox
          id="formName" 
          type="checkbox" 
          [checked]="getIncludeStatus(formName)" 
          (change)="setIncludeStatus(formName,saveUserNameCheckBox.checked)" /></td>

      </tr>
  </table>
</div>

<div *ngIf="doConstraintComps">
  <button (click)="reloadMain()">Back</button>
  <table table-layout="fixed">
      <tr>&nbsp;</tr>
      <tr><th>{{pageTitle}}</th></tr>
      <tr>&nbsp;</tr>

      <tr *ngFor="let cd of cdArray">
        &nbsp;{{cd}}
      </tr>
      <tr>===============</tr>

      <div *ngFor="let formName of formNames; index as i">
        <tr>&nbsp;{{formName}}
        <input #saveUserNameCheckBox
          id="formName" 
          type="checkbox" 
          [checked]="getIncludeStatus(formName)" 
          (change)="setIncludeStatus(formName,saveUserNameCheckBox.checked)" /> 
        </tr>

          <tr *ngFor="let cc of ccArray[i + 1]">
            &nbsp;{{cc}}
          </tr>
          <tr>===============</tr>

        </div>
  </table>
</div>
 
  <!-- *ngIf="{{dataEntry}}"  -->
 <form *ngIf="doDataEntry" #f="ngForm" (ngSubmit)="onSubmit(f.value)" >

      <!-- Prevent implicit submission of the form -->
    <button type="submit" disabled style="display: none" aria-hidden="true"></button>

    <button type="submit">Back</button>
    &nbsp;
    <button routerLink="/network-builder-component">Cancel</button>
    <br>
    <br>

    <!-- <table table-layout="fixed" > -->
    <table table-layout="fixed">

    <tr *ngFor="let formName of formNames; index as i">

      <!-- The label -->
      <td>{{formName}}</td>

      <!-- Create the input and add the default value -->
      <td>
        <input
        style="text-align:right; width:120px"

        type="text"
        step="any"

        placeholder="{{formDefaults[i]}}"
        name="{{formName}}"
        
        ngModel>
      </td>

      <!-- type="number"  -->

      </tr>
    <!-- </div> -->
    </table>
    
  </form>


<!-- <div class="footer">
  <button
  routerLink="/network-builder-component">Back</button>
</div> -->