
<div class="header">
  <button
  routerLink="/network-builder-component">Back</button>
  &nbsp;
</div>

<!-- <div class="shapeCanvas">
  <br>
  <br>

  <label>
    Name:
    <input type="text" 
    style="font-size:25px;width:120px"

    [formControl]="modelData">
  </label>

</div> -->
<br>
<br>

  
<div [formGroup]="myGroup">
  

  <div *ngFor="let property of properties" class="form-row">

    <label>
      {{property}}:
      <input type="text" formControlName="{{property}}">
    </label>

  </div>

</div>


<!-- <hr class="rounded"> -->

<!-- <div class="buttonArea"> -->
  <div class="footer">
  <button
  routerLink="/network-builder-component">Back</button>
</div>