/* You can add global styles to this file, and also import other style files */
button {
  margin-top: 8px;
  margin-left: 4px;
  
  height: 24px;
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.buttonArea{
  height: 40px;
  background-color: aliceblue;
}

.shapeCanvas{
    /* height:75vh; */
    height: calc(100vh - 40px);
    width: 100vw;

    /* border:solid;
    border-color:lightgrey; */

    margin: 0px;
    /*stop scroll within canvas but keep zoom*/
    overflow: hidden;
}


body {
  margin: 0px;
  border-width: 0px;
}
