/* You can add global styles to this file, and also import other style files */
button {
  margin-top: 8px;
  margin-left: 4px;
  
  height: 24px;

  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .buttonArea{
  height: 40px;
  background-color: aliceblue;
} */

.shapeCanvas{
    /* height:75vh; */
    /* height: calc(100vh - 40px); */

    /*stop scroll within canvas but keep zoom*/
    overflow: hidden;
    /*...also needed this to stop scroll on iphone 5*/
    position: fixed;
    /* top: 35px; */
    height:100vh;
    width: 100vw;

    margin: 0px;
}

body {
  top: 0px;
  margin-left: 5px;
  border-width: 0px;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  /* background-color: aliceblue; */
  height: 35px;
  /* color: white; */
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: aliceblue;
  height: 40px;
  /* color: white; */
  text-align: left;
}


